<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/images/logo.png" type="image/png">
    <style>
        body {
            margin: auto;
            margin-top: 0;
            max-width: 900px;
        }

        ul.topnav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            width: 1000px;
        }

    ul.topnav li {
        float: left;
    }

    ul.topnav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    ul.topnav li a:hover:not(.active) {
        background-color: #111;
    }

    ul.topnav li a.active {
        background-color: #4CAF50;
    }

    ul.topnav li.right {
        float: right;
    }

    .center{
        margin-left: auto;
        margin-right: auto;
    }

@*@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}*@
    </style>
</head>
<body>
    <header class="center">
        <ul class="topnav">
            <li><a class="@String.Format((string)ViewData["Nav"] == "Trips" ? "active" : "")" href="/Trips">Ваши поездки</a></li>
            @if ((bool?)ViewData["Login"] ?? false)
            {
                <li class="right"><a href="/Account/Login">Войти</a></li>
            }
            else
            {
                <li class="right"><a href="/Account/Logout">Выйти</a></li>
            }
        </ul>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
