@page
@model TravelAppServer.Pages.Auth.LoginModel
@{
    ViewData["Title"] = "Login";
}
@Html.AntiForgeryToken()

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<h2>Авторизация</h2>
<p>Email:</p>
<input id="login" />
<p>Пароль:</p>
<input id="password" type="password" />
<button onclick="Login()">Войти</button>
<button onclick="Register()">Регистрация</button>



<button onclick="Quit()">Выйти из учетки</button>
<script>
    function Quit() {

        $.ajax({
            type: "Get",
            url: "?handler=Logout",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                location.href = location.href;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404) {
                    if (xhr.responseText == "Such account doesn't exist!") {
                        alert("Неправильно введены логин и пароль");
                    }
                    else if (xhr.responseText == "Invalid arguments") {
                        alert("Поля не могут быть пустыми");
                    } else if (xhr.responseText == "Such email doesn't exist!") {
                        alert("Пользователя с таким email не существует");
                    }
                }
            }
        });
    }
</script>

<script>


    function Login() {


        var login = { "Email": $("#login").val(), "Password": $("#password").val() };

        $.ajax({
            type: "POST",
            url: "?handler=Login",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify(login),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                location.href = '@Model.ReturnUrl';
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404) {
                    if (xhr.responseText == "Such account doesn't exist!") {
                        alert("Неправильно введены логин и пароль");
                    }
                    else if (xhr.responseText == "Invalid arguments") {
                        alert("Поля не могут быть пустыми");
                    } else if (xhr.responseText == "Such email doesn't exist!") {
                        alert("Пользователя с таким email не существует");
                    }
                }
            }
        });


    }


    function Register() {
        location.href = '/Account/Register';
    }


</script>