@page
@model TravelAppServer.Pages.Auth.LoginModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Авторизация";
}

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<h2>Авторизация</h2>
<p>Email:</p>
<input id="login" />
<p>Пароль:</p>
<input id="password" type="password" />
<button onclick="Login()">Войти</button>
<button onclick="Register()">Регистрация</button>


<script>


    function Login() {


        var login = { "Email": $("#login").val(), "Password": $("#password").val() };

        $.ajax({
            type: "POST",
            url: "?handler=Login",
            data: JSON.stringify(login),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                location.href = '@Model.ReturnUrl';
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404) {
                    if (xhr.responseText == "Such account doesn't exist!") {
                        alert("Неправильно введены логин и пароль");
                    } else if (xhr.responseText == "Such email doesn't exist!") {
                        alert("Пользователя с таким email не существует");
                    }
                }
                else if (xhr.status == 400) {
                    if (xhr.responseText == "Invalid arguments") {
                        alert("Поля не могут быть пустыми");
                    }
                    else if (xhr.responseText == "Invalid email") {
                        alert("Неправильный формат email");
                    }
                }
                else {
                    alert("Ошибка:\n" + xhr.responseText);
                }
            }
        });


    }


    function Register() {
        location.href = '/Account/Register';
    }


</script>