@page
@model TravelAppServer.Pages.Auth.RegisterModel
@{
    ViewData["Title"] = "Register";
}
@Html.AntiForgeryToken()

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<h1>Регистрация</h1>

<style>
    .same {
        width: 304px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0.3em;
    }
</style>

<div class="same">
    <label>Email:</label>
    <input id="email" />
</div>
<div class="same">
    <label>Ник:</label>
    <input id="login" />
</div>
<div class="same">
    <label>Пароль:</label>
    <input id="password" type="password" />
</div>
<div class="same">
    <label>Повторить пароль:</label>
    <input id="password_repeat" type="password" />
</div>
<button onclick="Register()">Зарегистироваться</button>
<button onclick="Login()">Авторизироваться</button>



<script>

    function Register() {

        var register = { "Email": $("#email").val(), "UserName": $("#login").val(), "Password": $("#password").val() };

        $.ajax({
            type: "POST",
            url: "?handler=Register",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify(register),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                location.href = location.href;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404) {
                    if (xhr.responseText == "Such account doesn't exist!") {
                        alert("Неправильно введены логин и пароль");
                    }
                    else if (xhr.responseText == "Invalid arguments") {
                        alert("Поля не могут быть пустыми");
                    } else if (xhr.responseText == "Such email doesn't exist!") {
                        alert("Пользователя с таким email не существует");
                    }
                }
            }
        });


    }


    function Login() {
        location.href = '/account/login';
    }


</script>

