@page
@model TravelAppServer.Pages.Auth.RegisterModel
@{
    ViewData["Title"] = "Register";
}
@Html.AntiForgeryToken()

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<h1>Регистрация</h1>


<h2>Авторизация</h2>
<label>Email:</label>
<input id="email" />
<br>
<label>Ник:</label>
<input id="login" />
<br>
<label>Пароль:</label>
<input id="password" type="password" />
<br>
<label>Повторить пароль:</label>
<input id="password_repeat" type="password" />
<br>
<button onclick="Register()">Зарегистироваться</button>
<button onclick="Login()">Авторизироваться</button>



<button onclick="Quit()">Выйти из учетки</button>
<script>
    function Quit() {

        $.ajax({
            type: "Get",
            url: "?handler=Logout",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                location.href = location.href;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404) {
                    if (xhr.responseText == "Such account doesn't exist!") {
                        alert("Неправильно введены логин и пароль");
                    }
                    else if (xhr.responseText == "Invalid arguments") {
                        alert("Поля не могут быть пустыми");
                    } else if (xhr.responseText == "Such email doesn't exist!") {
                        alert("Пользователя с таким email не существует");
                    }
                }
            }
        });
    }
</script>




<script>

    function Register() {

        $.ajax({
            type: "POST",
            url: "?handler=Register",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify(register),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                location.href = location.href;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404) {
                    if (xhr.responseText == "Such account doesn't exist!") {
                        alert("Неправильно введены логин и пароль");
                    }
                    else if (xhr.responseText == "Invalid arguments") {
                        alert("Поля не могут быть пустыми");
                    } else if (xhr.responseText == "Such email doesn't exist!") {
                        alert("Пользователя с таким email не существует");
                    }
                }
            }
        });


    }


    function Login() {
        location.href = '/account/login';
    }


</script>

