@page
@model TravelAppServer.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<h2>Авторизация</h2>
<p>Логин:</p><input id="login"/>
<p>Пароль:</p><input id="password" type="password"/>
<button onclick="Login()">Войти</button>
<button onclick="Register()">Регистрация</button>



<button onclick="Quit()">Выйти из учетки</button>
<script>
    function Quit() {
        localStorage.removeItem('travelapptoken');
    }
</script>

<script>

    function Login() {


        var login = { "Email": $("#login").val(), "Password": $("#password").val() };

        $.ajax({
            type: "POST",
            url: "/api/auth/login",
            data: JSON.stringify(login),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data)
            {
                localStorage.setItem('travelapptoken', data.token);
                //Переход на новую страницу
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404) {
                    if (xhr.responseText == "Such account doesn't exist!") {
                        alert("Неправильно введены логин и пароль");
                    }
                }
            }
        });


    }


    function Register() {

    }


</script>