@page
@model TravelAppServer.Pages.Auth.RegisterModel
@{
    ViewData["Title"] = "Register";
}

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<h1>Регистрация</h1>


<h2>Авторизация</h2>
<label>Email:</label>
<input id="email" /><br>
<label>Ник:</label>
<input id="login" /><br>
<label>Пароль:</label>
<input id="password" type="password" /><br>
<label>Повторить пароль:</label>
<input id="password_repeat" type="password" /><br>
<button onclick="Register()">Зарегистироваться</button>
<button onclick="Login()">Авторизироваться</button>



<button onclick="Quit()">Выйти из учетки</button>
<script>
    function Quit() {
        localStorage.removeItem('travelapptoken');
    }
</script>



<script>


    function Register() {


        var register = { "Email": $("#email").val(), "UserName": $("#login").val(), "Password": $("#password").val() };

        $.ajax({
            type: "POST",
            url: "/api/auth/register",
            data: JSON.stringify(register),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                localStorage.setItem('travelapptoken', data.token);
                //Переход на новую страницу
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404) {
                    if (xhr.responseText == "Such account doesn't exist!") {
                        alert("Неправильно введены логин и пароль");
                    }
                    else if (xhr.responseText == "Invalid arguments") {
                        alert("Поля не могут быть пустыми");
                    }
                }
            }
        });


    }


    function Login() {
        location.href = '/auth/login';
    }


</script>

